
.g-app{ min-height: 100%; height: 100%;
  .g-app-box{ min-height: 100%; height: 100%;}
}

.g-404{ text-align: center; padding-top: 50px;}

.g-mt10{ margin-top:n(10);}
.g-mt20{ margin-top:n(20);}
.g-mt30{ margin-top:n(30);}
.g-mt40{ margin-top:n(40);}

.g-w{ width: 100%;}

.g-fl{ float: left;}
.g-fr{ float: right;}
