<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <meta name="keywords" content=" "/>
    <meta name="description" content=" "/>
    <title>404</title>

    <style type="text/css">
      body,html{ margin: 0; padding: 0;}
      .p404{ text-align: center; padding-top: 50px;}
    </style>

	</head>

	<body>
    <div class="p404"><img src="/src/images/global/404.png"/></div>
  </body>
</html>
